# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists
* Data Science Tools

##### Some of the popular languages that Data Scientists use are:
    1. Python
    2. SQL
    3. R
    4. JavaScript
    5. Julia

##### Some of the commonly used libraries used by Data Scientists include:
    1. TensorFlow
    2. NumPy
    3. Pandas
    4. PyToch
    5. Keras

| Data Science Tools |
| -------------|
| Hadoop |
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Meaghan Fox